{% extends 'madlibs/base.html' %}
{% include 'madlibs/index.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mad Libs</title>
</head>
<body>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <h2 class="madlib-title">Driving Mad Lib</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7 madlib-story">
                <p>I was driving down the road when my <span class="madlib">{{ input_list.noun }}</span> flew out the window and landed on the road.</p><br>
                <p>I came back to see the damage and it was <span class="madlib">{{ input_list.adjective }}</span>. This could only happen in <span class="madlib">{{ input_list.city }}</span>.</p><br>
                <p>I took my <span class="madlib">{{ input_list.noun2 }}</span> with me and that was when <span class="madlib">{{ input_list.pronoun }}</span> called.</p><br>
                <p>They told me to go <span class="madlib">{{ input_list.verb }}</span> with them and their <span class="madlib">{{ input_list.noun3 }}</span>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <a href="{% url 'madlibs:index' %}"><button class="btn btn-success">Start Over</button></a>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>