{% extends 'madlibs/base.html' %}
{% include 'madlibs/index.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mad Libs</title>
</head>
<body>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <h2 class="madlib-title">Underground Mad Lib</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7 madlib-story">
                <p>I took my <span class="madlib">{{ input_list.noun }}</span> to the <span class="madlib">{{ input_list.adjective }}</span> cave in the outskirts of <span class="madlib">{{ input_list.city }}</span>.</p><br>
                <p>The last time I came here I had brought my <span class="madlib">{{ input_list.noun2 }}</span> with me. This time when we got here we saw <span class="madlib">{{ input_list.pronoun }}</span>.</p><br>
                <p>Many people come here to <span class="madlib">{{ input_list.verb }}</span> and throw their <span class="madlib">{{ input_list.noun3 }}</span>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <a href="{% url 'madlibs:index' %}"><button class="btn btn-success">Start Over</button></a>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>