{% extends 'madlibs/base.html' %}
{% include 'madlibs/index.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mad Libs</title>
</head>
<body>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <h2 class="madlib-title">Neighborhood Mad Lib</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7 madlib-story">
                <p>Walking around my neighborhood with my <span class="madlib">{{ input_list.noun }}</span> I looked around and noticed a <span class="madlib">{{ input_list.adjective }}</span> plant. I thought to myself this is an unusual plant to see in <span class="madlib">{{ input_list.city }}</span>.</p><br>
                <p>Me and my <span class="madlib">{{ input_list.noun2 }}</span> walked over to the plant and <span class="madlib">{{ input_list.pronoun }}</span> started to talk.</p><br>
                <p>They asked me to <span class="madlib">{{ input_list.verb }}</span> and give them a <span class="madlib">{{ input_list.noun3 }}</span>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <a href="{% url 'madlibs:index' %}"><button class="btn btn-success">Start Over</button></a>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>