{% extends 'madlibs/base.html' %}
{% include 'madlibs/index.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mad Libs</title>
</head>
<body>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <h2 class="madlib-title">Food Mad Lib</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-7 madlib-story">
                <p>I love when my <span class="madlib">{{ input_list.noun }}</span> brings me home some <span class="madlib">{{ input_list.adjective }}</span> food from <span class="madlib">{{ input_list.city }}</span>.</p><br>
                <p>It's even better when my <span class="madlib">{{ input_list.noun2 }}</span> brings me something delicious. Sometimes I share with <span class="madlib">{{ input_list.pronoun }}</span>.</p><br>
                <p>Most of the time I just <span class="madlib">{{ input_list.verb }}</span> and try to hide so I only have to share with my <span class="madlib">{{ input_list.noun3 }}</span>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
                <a href="{% url 'madlibs:index' %}"><button class="btn btn-success">Start Over</button></a>
            </div>
        </div>
    </div>
{% endblock %}

</body>
</html>