{% extends 'PortfolioDatabase/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
</head>
<body>
{% block body %}
    <div class="container">
        <div class="row align-items-center justify-content-md-center">
            <div class="col-md-6">
                <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEHj5TMHGDEyQ/profile-displayphoto-shrink_800_800/0/1588694814046?e=1670457600&v=beta&t=IP8PO16NqAtFqnEWNnj0iPZhR7GsR7_sG76vqEMUicQ" class="card contact" height="250px" alt="">
            </div>
            <div class="col-md-6 contact-info text-white">
                <h1>Contact me:</h1>
                <h4>Phone: 801-599-0862</h4>
                <h4>Email: corycoleman@mail.weber.edu</h4>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>