{% extends 'PortfolioDatabase/base.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hobbies</title>
</head>
<body>
{% block body %}
{% for Hobbies in hobby_list %}
    <div class="container">
        <div class="row align-items-center justify-content-md-center">
            <div class="col-md-3">
                <img class="card" height="300px" width="320px" src="{{ Hobbies.hobby_image }}" alt="">
            </div>
            <div class="col-md-3 text-center text-white">
                <h3>{{ Hobbies.hobby_name }}</h3>
            </div>
            <div class="col-md-2">
                <a href="{% url 'PortfolioDatabase:hobby_detail' Hobbies.id %}" class="btn btn-success">Details</a>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
</body>
</html>